.main.signup {
  position: relative;
  @media (min-width: 1200px) {
    top: 0;
    left: 50%;
    width: 100%;
    height: 100%;
    display: grid;
    margin: 0 auto;
    position: absolute;
    align-items: center;
    padding-top: 11.7rem;
    transform: translateX(-50%);
    grid-template-columns: 1fr 54rem 57rem 1fr;
    grid-auto-rows: minmax(min-content, max-content);
  }
  @media (min-height: 800px) {
    padding-top: 23.7rem;
  }
}

.signup-hero {
  position: relative;

  @media (min-width: 1200px) {
    grid-row: 1/2;
    grid-column: 2/3;
  }

  &::before {
    left: 50%;
    content: '';
    z-index: -1;
    top: -32.7rem;
    width: 45.8rem;
    height: 45.8rem;
    position: absolute;
    background-size: cover;
    transform: translateX(-50%);
    background-repeat: no-repeat;
    background-image: url(../../public/assets/sign-up/bg-pattern-side-2.svg);
    @media (min-width: 768px) {
      content: none;
    }
  }
  .container--signup-hero {
    padding: 0 2.4rem;
    margin-top: 8rem;
    text-align: center;
    @media (min-width: 1200px) {
      padding: 0;
      margin-top: 0;
      text-align: left;
    }
  }

  &__body {
    max-width: 57.2rem;
    margin: 1.6rem auto 0;
    @media (min-width: 1200px) {
      margin: 2.4rem 0 0;
    }
  }
}

.signup-countdown {
  margin-top: 6.4rem;
  
  @media (min-width: 1200px) {
    margin-top: 0;
    grid-row: 2/3;
    grid-column: 2/3;
  }
  
  .container--signup-countdown {
    padding: 0 2.4rem;
    text-align: center;
    @media (min-width: 1200px) {
      text-align: left;
      padding: 0;
    }
  }
}

.signup-form-wrap {
  padding-top: 2.4rem;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  padding-bottom: 8.7rem;
  @media (min-width: 768px) {
    padding-top: 6.4rem;
    padding-bottom: 12.6rem;
  }
  @media (min-width: 1200px) {
    padding: 0;
    grid-row: 1/3;
    grid-column: 3/4;
  }
}

.signup-sidebg {
  bottom: 0;
  width: 100%;
  z-index: -1;
  height: 32rem;
  position: absolute;
  background-repeat: no-repeat;
  background-size: 120.2rem 120.2rem;
  background-color: var(--color-black);
  background-position: bottom -48rem center;
  background-image: url(../../public/assets/sign-up/bg-pattern-side.svg);
  @media (min-width: 768px) {
    background-size: 145.4rem 145.4rem;
    background-position: bottom -53.5rem center;
  }
  @media (min-width: 1200px) {
    top: 0;
    right: 0;
    height: 100vh;
    width: 29.167%;
    background-size: 203.6rem 203.6rem;
    background-position: bottom -23.1rem left -76.3rem;
  }
}