.header {
  z-index: 10;
  position: relative;
  padding: 4.6rem 2.4rem 0;
  @media (min-width: 768px) {
    padding: 7.2rem 3.9rem 0;
  }
  @media (min-width: 1024px) {
    padding: 8.1rem 4rem 0;
  }

  .container {
    display: flex;
  }

  &__logo {
    display: inline-flex;
    justify-content: center;
    @media (min-width: 768px) {
      justify-content: flex-start;
    }
  }
}